body{
    background: url(../images/bg.jpg);
}
header{
    font-family: Arial,Helvetica,sans-serif, 微軟正黑體;
    width: 800px;
    height: 80px;
    background-color: rgba(115, 16, 128, 0.79);
}
h1#text1{
    position: absolute;
    margin-top:15px;
    margin-left:50px;
    color: #ff0033;
}
h1#text2{
    position: absolute;
    margin-top: 30px;
    margin-left: 150px;
    color: aliceblue;
}
aside{
    width: 170px;
    height: 400px;
    background: url(../images/bg_lt.png);
    float: left
}
article{
    width: 625px;
    height: 400px;
    margin-left: 175px;
    background-color: rgba(199, 134, 30, 0.67)
}
footer{
    width: 800px;
    height: 50px;
    background-color: rgba(115, 16, 128, 0.79);
    color: aliceblue;
    text-align: center;
    line-height: 50px;
}
nav{
    margin-top: 170px;
}
nav ul{
    padding: 10px;
    list-style: none;
}
nav ul li a{
    display: block;
    background-image: url(../images/btn.png);
    width: 150px;
    height: 42px;
    text-indent: 50px;
    line-height: 32px;
}
nav ul li a:hover{
    background-image: url(../images/btn_hover.png);
    color: aliceblue;
}

fieldset{
    border-radius: 10px;
}

fieldset legend{
    text-align: center;
}

img{
    width: 120px;
    border-radius: 15px;
    margin: 5px;
}
.consection{
    width: 400px;
    margin: 0px auto;
    padding: 20px;
}